<!DOCTYPE html>
<html lang="en">
	<% include ./head %>
<body>
	<div class="container">
		<div class="row">
			<div class="col-lg-6">
				<div id="fileUploadControl" class="jumbotron">
			  	<img class="uploadImage" src="images/UploadFileTransparent.png">
			  	<div class="text-center centerVertically">
			  		<h1>Import Data</h1>	  	
			  		<button class="btn btn-primary btn-lg uploadBtn centerWithinContainer" type="button">Upload File</button>
		  			<input type="file" id="uploadFile" name="uploadFile" class="hidden">
			  	</div>
				</div>			
			</div>
			<div class="col-lg-6">
				<div class="panel panel-primary">
				  <div class="panel-heading">Total Monthly Expenses</div>
				  <!-- Table -->
				  <table id="monthlyExpenses" class="table">
				  	<thead>
					  	<tr>
						  	<th>#</th>
						  	<th>Year</th>
						  	<th>Month</th>
						  	<th>Total Expense</th>
					  	</tr>
				  	<thead>
				  	<tbody>
				  	</tbody>						
				  </table>
				</div>
			</div>
		</div>
		
	</div>
	<% include ./footer %>
</body>
</html>