body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#fileUploadControl {
	width: 100%;
	height: auto;
	background-color: #97befc
}

.centerVertically {
	margin-top: 10%;
	margin-bottom: 10%;
}

.uploadImage {
	margin-left: 20%;
	width: 250px;
	height: 200px;	
}